* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.container {
    width: 100%;
    max-width: 1500px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
}

button {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8533;
}

#videoStream {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #d1e0e0;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #95a5a6;
}

@media (max-width: 1000px) {
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 24px;
    }
    button {
        width: 100%;
    }
}